.heading{
    color: #3355aa;
    font-size: 16px;
    border-bottom: 2.5px solid #DAA520;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}
.navbar
{
  background-color: #3355aa;
  margin-top: 20px;
  font-size: 15px;
  height: 40px;
}

.bannerCard{
  margin-top: 10px;
  margin-bottom: 35px;
}

.bannerParagraph
{
  color:#222222;
padding-bottom: 5px;
font-size: 13px;

}

.paragraph {
  font-size: 13px;
    color:#222222;
font-style: italic;
font-style: italic;
}

.view{
  text-align:center;
  color: #3355aa;
}

.headingSector {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 28px;
  text-align: center;
  border-top: 2px solid #F5F5F5;
  font-weight: bold;
}

.announcementParagraph{
   font-size: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid #808080;
}

.containerBackground{
   background-color:#D3D3D3;
}

.boxAdjust{
  margin: 5px;
  background-color:#F5F5DC;
  height: 250px;
}
.headingBottom{
  display: block;
  padding:12px 40px;
  font-size: 16px;
  color: #3355aa;


}

 .footer {
    background-color: #333333;
    font-size: 80%;
    margin-top: 25px;
    padding-top :15px;
    padding-bottom: 35px;

}
.leftfooter {
    font-size : 14px;
    font-family: "Times New Roman", Times, serif;
    float: left;
}
.rightfooter{
    font-size : 11px;
    font-family: "Times New Roman", Times, serif;
    float: right;
}

.footerTop{
  border-bottom: 2px solid #3d3d3d;
}

.footerBottom{
  margin-top: 20px;
  padding-bottom: 35px;
 }